.logo {
    height: 16vh;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .button {
    align-items: center;
    margin-top: 20px;
  }
  .input{
    align-items: center;
    margin-top: 10px;
  }
  .art {
    margin: 0px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }