<ion-tabs #tabs>
	<ion-tab-bar color="primary" slot="bottom">
		<ion-tab-button tab="uploader">
			<ion-icon name="contact"></ion-icon>
			<ion-label>Counselors</ion-label>
		</ion-tab-button>

		<!-- <ion-tab-button class="counsellor" tab="clients"  style="display:none">
			<ion-icon name="contacts"></ion-icon>
			<ion-label>Clients</ion-label>
		</ion-tab-button> -->

		<ion-tab-button tab="feed" >
				<ion-icon md name="globe"></ion-icon>
				<ion-label>Net</ion-label>
			</ion-tab-button>

		<ion-tab-button tab="profile">
			<ion-icon name="bookmarks"></ion-icon>
			<ion-label>My Soch</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
</ion-tabs>