
 <ion-header>
  <ion-toolbar>
    <ion-button size="small" fill="clear" slot="start">
      <ion-menu-button size="small" color="dark"></ion-menu-button>
    </ion-button>
    <ion-img src="/assets/icon/LoGo.png"></ion-img>
    <ion-icon padding name="person-add" slot="end"  fill="outline" shape="round" size="small"
      color="dark"></ion-icon>
    <ion-progress-bar  type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
<ion-item-sliding id="item100">
  <ion-item href="#">
      <ion-avatar class="chatImage" slot="start">
          <img  src="../../assets/icon/user.png">
      </ion-avatar>
    <ion-label>
      <h2> Rishob Guha Patra</h2>
      <p>A new message from Rishob</p>
      <h3>High Gamma wave Alert | Feel Score: 8 Sad</h3>
    </ion-label>
    <ion-note slot="end">
      10:45 AM
    </ion-note>
  </ion-item>

  <ion-item-options side="start">
    <ion-item-option>
        <ion-icon slot="icon-only" name="journal"></ion-icon> 
        <ion-label>Journal</ion-label>
    </ion-item-option>
  </ion-item-options>

  <ion-item-options side="end">
      <ion-item-option color="primary">
          <ion-icon slot="icon-only" name="clipboard"></ion-icon>
          <ion-label>Notes</ion-label>
        </ion-item-option>
        <ion-item-option color="secondary">
          <ion-icon slot="icon-only" name="text"></ion-icon>
        </ion-item-option>
        <ion-item-option color="success">
            <ion-icon slot="icon-only" color="light" name="call"></ion-icon>
          </ion-item-option>
  </ion-item-options>
</ion-item-sliding>

<ion-item-sliding id="item100">
    <ion-item href="#">
        <ion-avatar class="chatImage" slot="start">
            <img  src="../../assets/icon/user.png">
        </ion-avatar>
      <ion-label>
        <h2> Ankita Guha Patra</h2>
        <p>A new message from Ankita</p>
        <h3>FREE TRIAL</h3>
      </ion-label>
      <ion-note slot="end">
        1:42 PM
      </ion-note>
    </ion-item>

    <ion-item-options side="start">
      <ion-item-option>
        <ion-icon slot="icon-only" name="journal"></ion-icon>
        <ion-label>Journal</ion-label>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">
      <ion-item-option color="primary">
        <ion-icon slot="icon-only" name="clipboard"></ion-icon>
        <ion-label>Notes</ion-label>
      </ion-item-option>
      <ion-item-option color="secondary">
        <ion-icon slot="icon-only" name="text"></ion-icon>
      </ion-item-option>
      <ion-item-option color="success">
          <ion-icon slot="icon-only" color="light" name="call"></ion-icon>
        </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding id="item100">
      <ion-item href="#">
          <ion-avatar class="chatImage" slot="start">
              <img  src="../../assets/icon/user.png">
          </ion-avatar>
        <ion-label>
          <h2> Soha Patil</h2>
          <p>A new message from Soha</p>
          <h3>3/6 Sessions | Feel Score: 6 Mad</h3>
        </ion-label>
        <ion-note slot="end">
          8:29 AM
        </ion-note>
      </ion-item>
  
      <ion-item-options side="start">
        <ion-item-option>
            <ion-icon slot="icon-only" name="journal"></ion-icon>            
            <ion-label>Journal</ion-label>
          </ion-item-option>
      </ion-item-options>
  
      <ion-item-options side="end">
          <ion-item-option color="primary">
              <ion-icon slot="icon-only" name="clipboard"></ion-icon>
              <ion-label>Notes</ion-label>
            </ion-item-option>
            <ion-item-option color="secondary">
              <ion-icon slot="icon-only" name="text"></ion-icon>
            </ion-item-option>
            <ion-item-option color="success">
                <ion-icon slot="icon-only" color="light" name="call"></ion-icon>
              </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
</ion-list>
</ion-content>


