<ion-header>
  
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
      <ion-title>Soch Connect</ion-title>
    </ion-toolbar>
  
  
</ion-header>

<ion-content>
  <!-- <ion-list-header color="light">Live Chart</ion-list-header> -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Live Chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="dynamicSpline" style="width:100%; height:400px;"></div>
    </ion-card-content>
  </ion-card>

</ion-content>
